{% extends 'base.html' %}
{% block title%}{{post.title_tag}}{%endblock%}

{% block content %}

<h1>{{post.title}} - {{post.author.id}}</h1>
<br>
<small>By: {{post.author.first_name}} {{post.author.last_name}}
    - {{post.post_date}}
</small> 
{% if user.is_authenticated %}
{% if user.id == post.author.id %}
- 
<a href="{% url 'update_post' post.pk%}"><i class='far fa-edit' style='font-size:24px'></i></a> - <a href="{% url 'delete_post' post.pk%}"><i class='far fa-trash-alt' style='font-size:24px'></i></a> 
{% endif %}
{% endif %}
<br>
<hr>
<br>
{% if post.header_image %}
<img src="{{  post.header_image.url }}"><br><br>
{% endif %}
{{post.body |safe}}

<br><br>
<a href="{% url 'home' %}" class="btn btn-dark">Back</a>

<br><br>
<hr>
<br>

<form action="{% url 'like_post' post.pk %}" method="POST">

    {% csrf_token %}

    <button style="font-size:24px" type="submit" name="post_id" value="{{post.id}}" class="btn btn-info btn-lg"><i class="fa fa-thumbs-o-up" style="font-size:24px"> Like</i></button> - {{ total_likes }} Likes
    
</form>
{% endblock content %}


